<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    <title>Link to Video</title>
</head>

<body>
    <section class="userInput">
        <h1>Please enter your URL</h1>
        <form method="POST" action="/result">
            <label for="url">URL:</label><br>
            <input type="url" id="url" name="url" required><br>
            <input type="submit" value="Submit">
        </form>
    </section>
</body>

</html>